*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: .5rem;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}

.botao_secundario {
    background-color: transparent;
    color: var(--branco-principal);
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: .75rem;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__caixa {
    margin: 0 6rem;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.descricao__titulo {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
    color: var(--branco-principal);
    margin-bottom: .1rem;
}

.descricao__texto {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 2rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
    font-style: normal;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    font-style: normal;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    padding: 3rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem 0;
}

.lista__item {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--branco-principal);
}

.lista__item:hover {
    color: var(--botao-azul);
}

.rodape__texto {
    font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.rodape__texto:nth-child(3) {
    margin-bottom: 1rem;
}